apiVersion: modelregistry.opendatahub.io/v1beta1
kind: ModelRegistry
metadata:
  labels:
    app.kubernetes.io/name: modelregistry
    app.kubernetes.io/instance: modelregistry-sample
    app.kubernetes.io/part-of: model-registry-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: model-registry-operator
  name: modelregistry-sample
spec:
  # TODO(user): Add fields here
  grpc:
    port: 9090
  istio:
    gateway:
      grpc:
        gatewayRoute: enabled
        port: 443
        tls:
          mode: SIMPLE
      rest:
        gatewayRoute: enabled
        port: 443
        tls:
          mode: SIMPLE
    tlsMode: ISTIO_MUTUAL
  rest:
    port: 8080
    serviceRoute: disabled
  mysql:
    host: model-registry-db
    database: model_registry
    username: modelregistryuser
    passwordSecret:
      name: model-registry-db
      key: database-password
